.container { margin-top: 30px; }
.navbar-inner .container { margin-top: 0px; }
.page-header { margin-bottom: 0px;}

.ace-editor {
  position: relative !important;
  background: #fff;
  min-width: 400px;
  max-width: 80%;
  height: 350px;
  border: 1px solid #999;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.spacer {margin-top: 13px;}

.nav {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 0px;
}

.nav-tabs li > a, .nav-pills li > a {
-webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
}

.right {text-align: right;}
.center {text-align: center;}
