<html>
  <head>
    <title>{% block title %}Try Aggro{% end %}</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/aggro.css" rel="stylesheet">
    {% block head_scripts %}{% end %}
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
       <div class="container">
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         <a class="brand" href="/">Try Aggro</a>
         <div class="nav-collapse" id="main-menu">
         </div>
       </div>
     </div>
   </div>

    <div class="container">
    {% block container %} {% end %}
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
      <script>
          var editor = ace.edit("editor");
          editor.setReadOnly(true);
          editor.setTheme("ace/theme/monokai");
          editor.getSession().setMode("ace/mode/javascript");

          var correct_output = ace.edit("correct-output");
          correct_output.setReadOnly(true);
          correct_output.setTheme("ace/theme/monokai");
          correct_output.getSession().setMode("ace/mode/javascript");


          var answer = ace.edit("answer-input");
          answer.setTheme("ace/theme/monokai");
          answer.getSession().setMode("ace/mode/javascript");

          var result = ace.edit("result");
          result.setReadOnly(true);
          result.setTheme("ace/theme/monokai");
          result.getSession().setMode("ace/mode/javascript");

      </script>

    {% block footer_scripts %}
    {% end %}
  </body>
</html>
