{% extends "base.html" %}

{% block container %}
{% from pprint import pformat %}
<section id="quiz">

  <div class="row">
    <div class="page-header span12">
      <h1>{{ quiz['title'] }}</h1>
      <h2>{{ quiz['description'] }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h3>Sample data</h3>
      <div id="editor" class="ace-editor">{% raw data %}</div>
    </div>

    <div class="span6">
      <h3>Your Answer:</h3> <div class="alert" id="agg-message" style="display: none;">&nbsp;</div>
      <form id="answer-form">
      <div class="control-group">
        <div class="controls">
          <div id="answer-input" class="ace-editor"> </div>
        </div>
      </div>
      <button id="answer-button">Try it!</button>
      </form>

    </div>
    </div>
  </div>
</section>

{% end %}

{% block footer_scripts %}
<script src="/static/js/try-agg.js?1"></script>
{% end %}
