{% extends "base.html" %}

{% block container %}
<section id="quiz">

  <div class="row">
    <div class="page-header span12">
      <h1>
          {{ page + 1 }}. {{ quiz['title'] }}
      </h1>
      <h2>{{ quiz['description'] }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="tabbable">
        <ul class="nav nav-pills">
          <li class="active"><a href="#the-data" data-toggle="tab">Sample Data</a></li>
          <li><a href="#output" id="correct-output-tab" data-toggle="tab">Correct output</a></li>
        </ul>
      <div class="tab-content">
        <div id="the-data" class="tab-pane active">
          <div id="editor" class="ace-editor">{% raw data %}</div>
        </div>
        <div id="output" class="tab-pane">
          <div id="correct-output" class="ace-editor">{% raw correct_output %}</div>
        </div>
      </div>
      </div>
    </div>

    <div class="span6">
       <div class="tabbable">
        <ul class="nav nav-pills">
          <li class="active"><a href="#answer" data-toggle="tab">Your Answer</a></li>
          <li style="display: none;" id="result-nav"><a href="#results" data-toggle="tab">Result</a></li>
        </ul>
        <div class="alert fade in" id="agg-message" style="display: none;">
            <button type="button" class="close">&#10006;</button>
            <div id="alert_msg"></div>
        </div>
        <div class="tab-content">
           <div id="answer" class="tab-pane active">
                <div id="answer-input" class="ace-editor"> </div>
          </div>
          <div id="results" class="tab-pane">
            <div id="result" class="ace-editor"> </div>
          </div>
          <form id="answer-form">
            <input type="hidden" id="quiz-id" value="{{ quiz['_id'] }}">
          </form>
        </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="span6 offset6">
      <a href="#" id="answer-button" class="btn btn-info btn-large">Try it!</a>
    </div>
  </div>
  <div class="row footer">
    <div class="span1">
      <a href="/{{ page }}" class="btn btn-inverse {% if page > 0 %}disabled{% end %}">←</a>
    </div>
    <div class="span10 center spacer">
      <div class="progress progress-info progress-striped active">
        <div class="bar" style="width: {{ (page + 1) * (100 / 13) }}%;"></div>
      </div>
    </div>
    <div class="span1 right">
      <a href="/{{ page + 2 }}" class="btn btn-inverse {% if has_next %}disabled{% end %}">→</a>
    </div>
  </div>
</section>
<!-- [{"$match": {"name": "justin"}},
 {"$group": {"_id": "$name", "avg_hits": {"$avg": "$hits"}}}
] -->
{% end %}

{% block footer_scripts %}
<script src="/static/js/try-agg.js?1"></script>
{% end %}
